body {
	background-color: #EEEEEE;
	font-family: sans;
}

#greeting {
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	width: 70%;
	padding: 20px;
	margin: 30px auto;
	
	-moz-box-shadow:    0px 0px 10px 7px #ccc;
	-webkit-box-shadow: 0px 0px 10px 7px #ccc;
	box-shadow:         0px 0px 10px 7px #ccc;
}

#greeting p {
	text-align: justify;
	line-height: 140%;
}

#greeting h1 {
	text-shadow: 1px 1px 2px #AAAAAA;
}