@import url(http://fonts.googleapis.com/css?family=Lora|Droid+Sans&text=Google+cache+browser);

/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}
[hidden]{display:none}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}body,button,input,select,textarea{font-family:sans-serif}
a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}
dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin-left:0;padding:0 0 0 40px}
dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}
figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}

html { overflow: auto; }

body {
	background-color: #EEEEEE;
	font-family: sans-serif;
    font-size: 12pt;
}

#greeting {
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	width: 70%;
	padding: 20px;
	margin: 30px auto;
	
	-moz-box-shadow:    0px 0px 10px 7px #ccc;
	-webkit-box-shadow: 0px 0px 10px 7px #ccc;
	box-shadow:         0px 0px 10px 7px #ccc;
}

#greeting p {
	text-align: justify;
	line-height: 140%;
}

#greeting h1 {
	text-shadow: 1px 1px 2px #AAAAAA;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F0F0F0;
    border-bottom: 1px solid #A0A0A0;
}

.toolbar .logo, .toolbar .url, .url .go, .url input, .url form {
    display: inline-block;
    vertical-align: middle;
}

.toolbar .logo {
    padding: 0.2ex 0.2ex 0.2ex 1ex;
    font-size: 1.5em;
    font-family: 'Droid Sans', sans-serif;
    text-shadow: #333333 1px 1px 2px;
    cursor: default;
}

.toolbar .logo .google {
    letter-spacing: 0.2ex;
    font-family: 'Lora', serif;
}

.url {
    padding: 3px;
    border: 1px solid #A0A0A0;
    margin: 3px 1em;
    border-radius: 6px;
    background-color: #FFFFFF;
    cursor: default;
}

.url input {
    border: none;
}

.url .go {
    cursor: pointer;
    cursor: hand;
}

.logo .red { color: #E82042; }
.logo .yellow { color: #FEC055; }
.logo .green { color: #00AF31; }
.logo .blue { color: #325ae8; }
.logo .darkblue { color: #2b4ec9; }

.logo p {
    margin: 0;
}

.view {
    border: none;
    background-color: #FFFFFF;
    position: relative;
}

.viewport {
    width: 100%;
    height: 100%;
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(images/overlay.png);
}

.overlay.load img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -110px;
}